* {
    font-family: 'PT Serif', serif;
}

html {
    background-image: url("/assets/images/collage.PNG");
    background-color: #cccccc;
}

.game-card, .win-loss-counter, .timer-card {
    background-color: rgba(254, 253, 253, 0.825);
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
}

.title {
    background-color: rgba(254, 253, 253, 0.922);
    text-align: center;
    font-size: 40px;
    margin: -10px;
    padding: 30px;
}

.instructions {
    font-size: 1rem;
}

.start-button, .reset-button {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.934);
    border-radius: 10px;
    display: flex;
    margin: auto;
}

.start-button {
    margin: 30px auto;
    font-size: 1.5rem;
}

.game-card {
    padding: 80px;
    width: 50%;
    margin: auto;
    font-size: 3.5rem;
}

.counter-and-timer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.win-loss-counter {
    font-size: 15px;
    text-align: left;
    padding: 20px;
    text-align: center;
}

.results-card {
    display: flex;
    flex-direction: row;
}

.card {
    font-size: 20px;
}

.timer-text {
    padding: 30px;
}

.timer-count {
    font-size: 40px;
}

@media only screen and (max-width: 400px) {
    html {
        margin: auto;
        max-width: 100vw;
        background-image: url("/assets/images/collage.PNG");
        background-color: #cccccc;
        background-size: contain;
        background-repeat: repeat-y;
    }

    body {
        max-width: 100vw;
        margin: auto;
        overflow-x: hidden;
    }

    .title {
        font-size: 30px;
        padding: 20px;
        padding-top: 30px;
    }

    .start-button {
        font-size: 20px;
    }

    .instructions {
        font-size: 15px;
    }

    .game-card {
        font-size: 25px;
    }

    .results-card, .timer-card {
        font-size: 15px;
        margin: auto;
        height: 25%;
    }

    .results-card {
        margin-left: -19px;
    }

    .counter-and-timer {
        justify-content: space-evenly;
        margin: 10px;
    }

    .timer-text, .win-loss-counter h2 {
        font-size: 15px;
    }

    .timer-text {
        padding: 12px;
    }

    .timer-count {
        font-size: 30px
    }
}